<p appHighLight>app high-light work</p>
<p [appHighLight]="'red'">app high-light work</p>
<p [appHighLight]="showColor">app high-light work</p>
<ul [ngSwitch]="login">
  <li *ngSwitchCase="'user'">
    <p>User is login</p>
    <button (click)="changeLoginAdmin()">change login</button>
  </li>
  <li *ngSwitchCase="'admin'">
    <p>Admin is login</p>
    <button (click)="changeLoginUser()">change login</button>
  </li>
  <li *ngSwitchDefault>
    <p>please choose login name</p>
  </li>
</ul>

<p>Counter: {{ counter }}</p>
<br />
<p>Counter ^ 2: {{ counterBp }}</p>
